<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">





       <!--
       ========================= DAO DEFINITIONS: IBATIS IMPLEMENTATIONS
       ========================= <bean id="OffsetDao"
       class="ibatis.SqlMapOffsetDao"> <property name="sqlMapClient"> <ref
       local="sqlMapClient" /> </property> </bean> <bean id="SequenceDao"
       class="ibatis.SqlMapSequenceDao"> <property name="sqlMapClient"> <ref
       local="sqlMapClient" /> </property> </bean>
       -->
       <!--<bean id="UserDao" class="com.springapp.mvc.dao.UserDao">-->
              <!--<property name="sqlMapClient">-->
                     <!--<ref bean="sqlMapClient" />-->
              <!--</property>-->
       <!--</bean>-->
       <!--<bean id="UserService" class="com.springapp.mvc.service.UserService">-->
              <!--<property name="userDao" ref="UserDao"/>-->
       <!--</bean>-->
       <!--<bean id="BaseDao" class="com.springapp.mvc.dao.BaseDao">-->
              <!--<property name="sqlMapClient">-->
                     <!--<ref bean="sqlMapClient" />-->
              <!--</property>-->
       <!--</bean>-->
</beans>